/** @format */
@media all and (min-width: 500px) {
  .loginBody,
  .signupBody,
  .home {
    margin: 2rem 0rem auto;
    padding: 2rem 0rem;
  }
}

body {
  font-family: "Sen", sans-serif;
}

.card {
  margin: 0 auto;
  float: none;
  min-width: 50%;
}

.footer {
  margin-top: 5rem;
  text-align: center;
}

.btn-circular {
  border-radius: 40%;
}

.fa-center {
  vertical-align: middle;
  margin: auto;
}
