/** @format */
@media all and (min-width: 900px) {
  .loginBody,
  .signupBody {
    margin: 6rem;
    padding: 3rem;
  }
}

body {
  font-family: "Sen", sans-serif;
}

.card {
  margin: 0 auto;
  float: none;
  min-width: 50%;
}

.footer {
  margin-top: 10rem;
  text-align: center;
}
